<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.zry.dao.DistributeDao">

  <select id="getAllDistribute" resultType="com.graduate.zry.bean.Distribute">
    select * from distribute
    <if test="p_id!=null">
      where p_id like #{p_id}
    </if>
    limit #{pageStart},#{pageSize}
  </select>

  <select id="getDistributeCounts" resultType="java.lang.Integer">
    select count(*) from distribute
    <if test="p_id!=null">
      where distribute.p_id like #{p_id}
    </if>
  </select>

  <insert id="addDistribute" >
    insert into distribute (r_id, p_id, d_many, d_time, b, breakfirst, l, lunch, d, dinner)
    values (#{r_id},#{p_id},#{d_many},#{d_time},#{b},#{breakfirst},#{l},#{lunch},#{d},#{dinner});
  </insert>

  <delete id="deleteDistribute">
    delete from distribute where p_id=#{p_id}
  </delete>

  <select id="getUpdateDistribute" resultType="com.graduate.zry.bean.Distribute">
    select * from distribute where p_id=#{p_id}
  </select>

  <update id="editDistribute">
    update distribute set r_id=#{r_id},d_many=#{d_many},d_time=#{d_time},b=#{b},breakfirst=#{breakfirst},l=#{l},lunch=#{lunch},d=#{d},dinner=#{dinner} where p_id=#{p_id}
  </update>

</mapper>